<form action="/user/save" class="create-user">
    <h1>Создание пользователя</h1>

    <input type="text" name="name" placeholder="Имя">
    <input type="text" name="birthday" placeholder="Дата рождения в формате 31-12-2024">

    <input type="submit" value="Создать">

</form>