<header>
    Текущее время: {{ date()|date('H:i:s') }}<br>
    <ul class="menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/user">Пользователи</a></li>
        <li><a href="/user/create">Создать пользователя</a></li>
    </ul>
</header>