{% extends "layouts/main.twig" %}

{% block content %}

  {% if not auth_success %}
      <div class="error">{{ auth_error }}</div>
  {% endif %}

  <form action="/user/login/" method="post">
    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <p>
      <label for="user-login">Логин:</label>
      <input id="user-login" type="text" name="login">
    </p>
    <p>
      <label for="user-password">Пароль:</label>
      <input id="user-password" type="password" name="password">
    </p>
    <p>
      <input type="hidden" name="remember" value="0">
      <input id="user-remember" type="checkbox" name="remember" value="1">
      <label for="user-remember">Запомнить меня</label>
    </p>
    <p><input type="submit" value="Войти" class="btn"></p>
  </form>
{% endblock %}