$header-height: 100px;
$footer-height: 100px;

*, ul, li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    font-size: 18px;
}

.content {
    width: 80%;
    padding: 20px;
    min-height: calc(100vh - $header-height - $footer-height);
}

.error {
    border: 1px solid rgb(255, 63, 63);
    border-radius: 5px;
    padding: 10px;
    color: rgb(255, 63, 63);
    width: fit-content;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    border: 1px solid rgb(92, 92, 255);
    border-radius: 5px;
    padding: 3px 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    color: rgb(92, 92, 255);
    margin-right: 5px;
    margin-bottom: 3px;
}

.create-user {
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 10px;
    background: #ebebeb;
    padding: 20px;
    border-radius: 20px;

    input {
        padding: 5px;
        font-size: 14px;
    }
}

.sidebar {
    width: calc(20% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
}

header, footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    height: $header-height;
    background: #d1d1d1;
    padding: 30px;
    flex-direction: column;

    .menu {
        display: flex;
        gap: 30px;
        margin-top: 10px;

        li {
            a {
                font-size: 20px;
                color: black;
                text-decoration: none;

                &:hover {
                    color: blue;
                }
            }
        }
    }
}

footer {
    height: $footer-height;
    background: #fdd4d4;
    padding: 30px;
}