{% extends "layouts/main.twig" %}

{% block content %}
<form action="/user/save" method="post">
    <h1 class="text-center mb-3">Создание пользователя</h1>

    <input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token }}">

    <div class="form-floating mt-2">
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Имя">
        <label for="firstname">Имя</label>
    </div>

    <div class="form-floating mt-2">
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Фамилия">
        <label for="lastname">Фамилия</label>
    </div>

    <div class="form-floating mt-2">
        <input type="text" class="form-control" id="birthday" name="birthday" placeholder="Дата рождения в формате 31-12-2024">
        <label for="birthday">Дата рождения</label>
    </div>

    <button type="submit" class="btn btn-primary w-100 py-2 mt-2">Создать</button>

</form>
{% endblock %}